/* ===== Colors ===== */
$black:       #2B2B2B;
$white:       #FFFFFF;
$dark-gray:   #6F767E;
$light-gray:  #F2F2F2;

$main-blue: #19368D;
$secondary-blue: #2b428a;

$indigo: #4f46e5;

$gray-100: #f3f4f6;
$gray-500: #6b7280;
$gray-600: rgba(75, 85, 99, 1);
$gray-900: rgba(17, 24, 39, 1);
$sextuple-gray: #3C4043;

$main-grey: #2D3436;
$secondary-grey-color: #6B7280;
$background-main-grey-color: #aabbc0;

$primary-white: #FFFFFF;
$secondary-white: #CCC;
$tertiary-white: #DADCE0;
