@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/mixins' as *;

.testimonials-section {
  padding: 5rem 0;
  background-color: $white;
}

.testimonials-container {
  @include container();
}

.testimonials-header {
  text-align: center;
  margin-bottom: 4rem;

  .title {
    font-size: 1.875rem;
    font-weight: bold;
    color: $gray-900;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  .subtitle {
    font-size: 1.25rem;
    color: $gray-600;
  }
}

.testimonials-grid {
  display: grid;
  gap: 2rem;
  align-items: center;

  & {
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


.testimonial-card {
  background-color: $light-gray;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .quote {
    font-size: 1.125rem;
    color: $gray-600;
    margin-bottom: 1.5rem;
  }

  .author-info {
    display: flex;
    align-items: center;

    .author-image {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .author-details {
      .name {
        font-weight: 600;
        color: $gray-900;
      }

      .role,
      .company {
        font-size: 1rem;
        color: $gray-600;
      }
    }
  }
}
