@use '../../../styles/abstracts/colors' as *;

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(5px);
}

.dropdown-content {
  overflow: hidden;
  border-radius: 10px;
  background: white;
  padding: 10px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $white;
  border-radius: 50%;
}

.dropdown-menu.hidden {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.content {

}
